:root {
  --btn-orange: #cd3d0f;
  --btn-blue: #2d64e6;
  --btn-grey: #d9dadc;
  --bg-grey: #1f1f1f;
  --bg-light-grey: #bebcbb;
  --bg-dark-blue: #161c3b;
}

img {
  width: 100%;
}

header .justify-content-end {
  background-color: black;
  padding: 0.5rem;
}

header .justify-content-end img {
  width: 3rem;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

.hero--returnal {
  background-image: url(../img/jumbo-bg.png);
}

.hero--it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.hero.hero--returnal .container,
.hero.hero--it-takes-two .container {
  height: 100%;
  padding-bottom: 1rem;
}

.hero-carousel__slider {
  padding-block: 1rem;
}

.slider-img--active {
  outline: 2px solid #0072ce;
  outline-offset: 0.125rem;
}

.returnal-banner-logo {
  width: 65%;
  margin-bottom: 1rem;
}

.it-takes-two-banner-logo {
  width: 65%;
  margin-bottom: 1rem;
}

.btn-pill {
  border-radius: 50px;
  background-color: var(--btn-orange);
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  line-height: 1;
}

.btn--blue {
  background-color: var(--btn-blue);
}

.btn--grey {
  background-color: var(--btn-grey);
  color: var(--btn-blue);
}

.section-header {
  text-align: center;
}

.ps5__subtitle {
  color: var(--btn-blue);
  text-transform: uppercase;
  margin-bottom: 0;
}

.ps5__image--active {
  position: relative;
}

.ps5__image--active::after {
  border-bottom: 2px solid #0072ce;
  display: block;
  content: "";
  position: absolute;
  left: 0.75rem;
  right: 0.75rem;
}

.new-releases {
  background-color: var(--bg-grey);
  color: white;
}

.card-custom {
  display: flex;
  flex-direction: column;
}

.ps-plus.banner {
  background-color: var(--bg-light-grey);
}

.ps-plus__logo,
.ps-now__logo {
  width: 55%;
}

.ps-plus .row > img,
.ps-now .row > img {
  display: none;
}

.ps-now.banner {
  background-color: var(--bg-dark-blue);
}

@media screen and (min-width: 992px) {
  .hero h3,
  .hero p,
  .hero img {
    width: 35%;
  }
}

@media screen and (min-width: 768px) {
  .card--hor {
    flex-direction: row;
    align-items: center;
  }

  .ps-plus .row > img,
  .ps-now .row > img {
    display: block;
  }
}
